/* 显示正文中的标题序号 */
.section > h1 .section-number,
.section > h2 .section-number,
.section > h3 .section-number {
    display: none;
}

/* 显示侧边栏目录（TOC）中的序号 */
.bd-sidebar-secondary .toc-item .section-number {
    display: none;
}

.section-number {
    display: none;
}